.header {
  background-color: #e0cafd;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 6px 12px;
  margin-bottom: 24px;
}

.logo {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #ffffff;

  transition: color 400ms ease-in-out;
}

@media (max-width: 355.9px) {
  .logo {
    font-size: 18px;
  }
}

@media (min-width: 356px) {
  .logo {
    font-size: 24px;
  }
}

.logo:hover {
  color: #ba88f8;
}
